*{
    margin: 0;
    padding: 0;
}
body{
     
    background-color: #9f8a92;
    text-align: center;
    color: rgb(247, 188, 188);
    padding: 1rem;
}
main{
    display: flex;
    align-items: center;
    justify-content:center ;
}

.container{
    padding: 2rem;
    height: 70vh;
    width: 70vh;
    display: flex; 
    align-items: center;    
    justify-content: center;
 
}

.game{
    height:70vmin ;
    width: 70vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    
}

.box{
    height: 18vmin;
    width: 18vmin;
    background-color: #3f3a3a;
    border-radius: 1rem;
    border-style: none;
    box-shadow: 0 0 1rem rgb(0, 0, 0,0.3);
    color: rgb(175, 21, 21);
    font-size: 8vmin;
    
}

#reset-btn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #292828;
    color: rgb(255, 255, 255);
    border-radius: 1rem;
    border-style: none;
     
}
#reset-btn:hover{
    background-color: #e60202;
}

#new-btn{
    padding: 1rem;
    font-size: 1rem;
    background-color: #292828;
    color: rgb(255, 255, 255);
    border-radius: 1rem;
    border-style: none;

}
#msg {
    font-size: 5vmin;
    color: rgb(250, 255, 253);
   
}
.msg-container{
    display: flex;
    height: 30vmin;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

}
.hide{
    display: none;
}